body {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: darkblue;
    background: url("fondo.gif") no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-family: Georgia, serif;
    font-size: 36px;
    font-weight: bold;
    color: darkred;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}
